<% title("Home Page") %>
<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h3></h3>
                    <h1></h1>
                    <!--hr class="intro-divider" -->
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading"></h2>
                <p class="lead"></p>
                <%= image_tag("text1.png",class: "img-responsive") %>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag("ipad.png",class: "img-responsive") %>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
<!-- *** アンカー・簡単である理由 *** -->
<A Name="about"></a>

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading"></h2>
                <p class="lead"></p>
                <%= image_tag("text2.png",class: "img-responsive") %>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <%= image_tag("doge.png",class: "img-responsive") %>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"></h2>
                    <p class="lead"></a></p>
                    <%= image_tag("text3.png",class: "img-responsive") %>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("doge2.png",class: "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"></h2>
                    <p class="lead"></p>
                    <%= image_tag("doge4.png",class: "img-responsive") %>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag("doge3.png",class: "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


    <!-- *** アンカー・プロ仕様である理由 *** -->
    <A Name="spec"></a>

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <%= image_tag("doge9.png",class: "img-responsive") %>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("doge6.png",class: "img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <%= image_tag("doge4.png",class: "img-responsive") %>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("doge5.png",class: "img-responsive") %>
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
<div class="banner">

    <div class="container">
    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->
