<li><a href="#about">簡単である理由</a></li>
<li><a href="#spec">プロ仕様である理由</a></li>
<li><a href="http://blockmagic.jp/cms_price.html">サービス価格</a></li>
<li><a href="http://blockmagic.jp/cms_contact.html">お問合せ</a></li>
<li><a href="http://ai-hide.net">運営会社</a>
<!---
<% if !user_signed_in? %>
<li><%= link_to "ログイン", new_user_session_path %></li>
<li><%= link_to "サインアップ", new_user_registration_path %></li>
<% else %>
<li><%= link_to "保護されたページ", inside_path %></li>
<li><%= link_to "アカウント編集", edit_user_registration_path %></li>

<% if current_user.admin? %>
<li><%= link_to "管理者", admin_root_path %></li>
<% end %>

<li><%= link_to "ログアウト", destroy_user_session_path, data:{method: :delete} %></li>
<% end %>
--->
